* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

body {
  background-color: #e4e0c1;
  overflow: hidden;
}

hr {
  position: relative;
  width: 100%;
  top: 5px;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-weight: 500;
  font-style: italic;
  margin: 10px;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: fit-content;
  background-color: #e4e0c1;
  padding: 0em 2em;
}

li::marker {
  font-family: 'Playfair Display', serif;
  font-weight: 600;
  font-size: 1em;
}

ol {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
  height: inherit;
}

input[type=text] {
    background-color: #b9b09a;
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    color: white;
    outline: none;
    border: none;
    border-radius: 5px;
    width: 18em;
    height: 3em;
    padding: 5px;
}

.wrapper{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 3em;
}

.button {
  text-transform: uppercase;
  font-size: 18px;
  padding: 20px;
  border-radius: 7px;
  text-decoration: none;
  color: white;
  text-align: center;
  transition-duration: 0.2s;
}

.button:hover {
  padding: 20px;
  box-shadow: 14px 20px 18px 0px #ae9f9f;

}
.createButton {
    margin-left: 8px;
    background-color: #03bd8e;
}

.fillItemButton {
  display: block;
  color: #816363;
  background-color: #e3d0ad;
  border: 5px solid #e3d0ad;
  transition-duration: 0.3s;
}

.fillItemButton:hover {
  /* transform: translate(-11px, 10px); */
  /* transform: translate(-15px, -16px); */
  transform: translateY(-18px);
}

/* #fillTable {
  margin: 20px 0px 10px 0px;
} */

#button-fillItemButton-border{
  /* margin: 3em 0em 3em; */
  overflow: unset;
  justify-content: center;
  align-items: center;
  margin: 3em 0em 3em;
  height: 80px;
  width: 360px;
  border: 5px solid #e3d0ad;
  border-radius: 7px;
  background: #e3d0ad;
  transition-duration: 0.3s;
}
#button-fillItemButton-border:hover{
  background: #e4e0c1;
}
.createItem {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.todoList {
  display: flex;
  height: 45vh;
  overflow-y: scroll;
  overflow-x: hidden;
  justify-content: center;
  align-items: center;
  background-color: #dfdbbd;
  padding: 20px;
  margin: 20px;
  border: 15px solid #dcd8ba;
  box-sizing: content-box;
  border-radius: 10px;
  box-shadow: inset 0px 0px 20px 7px #b1a9a9;
}

.swal-footer {
    text-align: center;
}

.swal-modal {
    width: 600px;
}

.todoItem {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 2.5em;
  border-radius: 8px;
  background-color: #d2bd96;
  /* border: 5px solid; */
  box-shadow: 4px 9px 16px 3px #6d6c67;
  width: fit-content;
  padding: 10px 30px 15px 2em;
  margin: 10px 50px;
}
.todoItemComplite {
  text-decoration: line-through;
  background-color: #b6b3af;
  transition-duration: 0.3s;
}

.deleteItem {
  display: inline-flex;
  position: relative;
  cursor: pointer;
  top: 7px;
  left: 10px;
  transition-duration: 0.3s;
  background-color: #f50294;
  width: 1em;
  height: 1em;
  border-radius: 10px;
  margin-left: 10px;
}
.deleteItem::before {
  display: block;
  position: absolute;
  top: -20px;
  content: "×";
  font-size: 72px;
  color: #ffffff;
}
.deleteItem:hover{
  transition-duration: 0.3s;
  background-color: #f1283a;
  -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
-moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}


/* Скрыли дефолтный значек */
.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-checkbox+label {
  position: relative;
  left: 10px;
  display: inline-flex;
  align-items: center;
  user-select: none;
}
.custom-checkbox+label::before {
  cursor: pointer;
  position: relative;
  top: 8px;
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 2px solid #0b5096;
  border-radius: 0.25em;
  /* margin-right: 0.5em; */
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.custom-checkbox:checked+label::before {
  border-color: #0b5096;
  background-color: #0b5096;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

/* стили при наведении курсора на checkbox */
.custom-checkbox:not(:disabled):not(:checked)+label:hover::before {
  border-color: #0b5096;
  transition-duration: 0.3s;
  -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
-moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}
/* стили для активного состояния чекбокса (при нажатии на него) */
.custom-checkbox:not(:disabled):active+label::before {
  background-color: #0b5096;
  border-color: #0b5096;
}
/* стили для чекбокса, находящегося в фокусе */
.custom-checkbox:focus+label::before {
  /* box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); */
}
/* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
.custom-checkbox:focus:not(:checked)+label::before {
  border-color: #0b5096;
}
/* стили для чекбокса, находящегося в состоянии disabled */
.custom-checkbox:disabled+label::before {
  background-color: #0b5096;
}
